body {
  --bege: #e6e0d6;
  --marrom-escuro: #816d4f;
  --marrom-claro: #b29463;
  font-family: "Barlow", sans-serif;
}

input[type="checkbox"] {
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:focus {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}
